# Core functionality - changes here should be rare!
/src/app.py                   @jvpigozzo
/src/backend/database.py      @jvpigozzo
/src/backend/routers/auth.py  @jvpigozzo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jvpigozzo
